- form_for(@event) do |f|
  = f.label :name
  = f.text_field :name
  %p
    = f.label :start_at
    = f.date_select :start_at

  %p
    = f.label :end_at
    = f.date_select :end_at

  %p
    = f.submit 'Create', :class => 'lbAction', :rel => 'deactivate'

= button_to 'Close Window', '#', :class => 'lbAction', :rel => 'deactivate'
